<% include ../partials/header %> 
    <div class="row text-center item-comprar" style="display: flex; flex-wrap: wrap">
        <% bebidas.forEach(function(bebida) { %>
            <div class="bebida container col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= bebida.imagem %>">
                    <div class="caption">
                        <h4><%= bebida.titulo %></h4>                          
                        <form action="/add-carrinho/<%= bebida._id %>" method="POST">
                            <h4 class="preco"> R$<%= bebida.preco %>.00</h4>
                            <input name="qtd" class="quantificador" type="number" value="1" min="1" max="<%= bebida.quantidade %>"> 
                            <div class="text-center">
                                <button class="btn_comprar btn btn-primary btn-lg"><i class="glyphicon glyphicon-shopping-cart"></i> Adicionar</button>
                            </div>                                     
                        </form>                            
                    </div>  
                </div>
            </div>
        <% }); %>
    </div>
<% include ../partials/footer %>